@(studentForm: Form[Student])

@import helper._
@import helper.twitterBootstrap._

@main("Student form") {
    <h1>Student form</h1>
    @helper.form(action = routes.Students.save()) {
        <fieldset>
            <legend>Student (@studentForm("name").valueOr("New"))</legend>
            @helper.inputText(studentForm("msv"), '_label -> "MSV")
            @helper.inputText(studentForm("name"), '_label -> "Name")
            @helper.inputText(studentForm("birthday"), '_label -> "Birthday")
            @helper.inputText(studentForm("address"), '_label -> "Address")
            @helper.inputText(studentForm("major"), '_label -> "Major")
            @helper.inputText(studentForm("course"), '_label -> "Course")
            @helper.inputText(studentForm("phoneNumber"), '_label -> "Phone Number")
        </fieldset>
        <input type="submit" class="btn btn-primary" value="Save">
        <a class="btn" href="@routes.Students.list()">Cancel</a>
    }
}