@(students: List[Student])
@main("Students list") {
    <h2>List Students</h2>

    <script>
    function del(urlToDelete) {
    $.ajax ( {
    url : urlToDelete,
    type : 'DELETE',
    success : function ( results ) {
    // Refresh the page
    location.reload ( ) ;
    }
    } ) ;
    }

    </script>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>MSV</th>
                <th>Name</th>
                <th>Birthday</th>
                <th>Address</th>
                <th>Major</th>
                <th>Course</th>
                <th>PhoneNumber</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
        @for(student <- students){
            <tr>
                <td><a href="@routes.Students.details(student)"> @student.msv</a></td>
                <td><a href="@routes.Students.details(student)"> @student.name</a></td>
                <td><a href="@routes.Students.details(student)"> @student.birthday</a></td>
                <td><a href="@routes.Students.details(student)"> @student.address</a></td>
                <td><a href="@routes.Students.details(student)"> @student.major</a></td>
                <td><a href="@routes.Students.details(student)">@student.course</a></td>
                <td><a href="@routes.Students.details(student)">@student.phoneNumber</a></td>
                <td><a onclick="del('@routes.Students.delete(student.msv)')"><span class="glyphicon glyphicon-trash"></span></a></td>
            </tr>
        }
        </tbody>

        <a href="@routes.Students.newStudent()" class="btn btn-primary">New student</a>
    </table>
}